<template id="templateLoading">
  <div class="d-flex align-items-center align-content-center justify-content-center">
    <div class="spinner-border spinner-border-sm text-info" aria-hidden="true"></div>
    <strong class="ms-2" role="status">{{ text_loading }}</strong>
  </div>
</template>
