<span class="flex-fill my-2 my-md-0 mx-md-4">
  <span class="me-2"><i class="fa-brands fa-php"></i> {{ php_version }}</span>
  <span class=""><i class="fa-solid fa-database"></i> {{ db_version }}</span>
</span>
